{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "apps/vft-energy-system/what-is-vft/" | absURL }}" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://vflowtechiot.com/#/" role="button" target="_blank">Login now</a>
<!--      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/VFlowTech/VFT-Energy-System">GitHub v{{ .Site.Data.vft.version }}</a></p> -->
      <a></a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">

    <div class="row justify-content-center text-center">
        <img src="images/vft-screen-1112x584.webp" alt="VFT IoT Platform - Monitor, Automate, Diagnose, Secure"/>
    </div>
<!--
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">IoT Analytics</h2>
        <p>VFT has Power BI/Tableau-like capabilities for aggregated analysis and visualisation of real-time and parallel IoT streams.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">IoT Scalability</h2>
        <p>VFT uses the technology behind WhatsApp and Facebook (<a href="https://www.wired.com/2015/09/whatsapp-serves-900-million-users-50-engineers/">EVM</a>) for concurrently handling millions of messages.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">IoT Security</h2>
        <p>VFT enforces <a href="https://datakrew.com/">VFlowTech</a>'s patented post-quantum encryption on top of best-in-class TLS1.2 over HTTPS.</p>
      </div>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Hardware Agnostic</h2>
        <p>VFT is a hardware agnnostic IoT platform and supports and any device or gateway sending data over MQTT, HTTPS or CoAP.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Open Source</h2>
        <p>VFT is built with a vision of empowering the users (self-service superpowers!) and forwarding the IoT community.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Multitenancy</h2>
        <p>A single VFT instance can serve multiple independent tenants and their data is completely isolated from each other.</p>
      </div>
    </div>
-->
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
